<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 ">
                <p class="footer__coppy">2018 &copy; Copyright <a href="http://awe7.com/">Awe7</a>. All rights Reserved.</p>
            </div>
            <div class="col-md-6 col-lg-6 ">
                <div class="footer__social">
                    
                    <!-- social-icon -->
                    <!-- <a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
                    </a> -->
                    <!-- End / social-icon -->
                    
                    
                    <!-- social-icon -->
                    <!-- <a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
                    </a> -->
                    <!-- End / social-icon -->
                    
                    
                    <!-- social-icon -->
                    <a class="social-icon" href="linkedin.com/in/ikhsan-m/"><i class="social-icon__icon fa fa-linkedin"></i>
                    </a>
                    <!-- End / social-icon -->
                    
                    
                    <!-- social-icon -->
                    <a class="social-icon" href="https://github.com/ixhsan"><i class="social-icon__icon fa fa-github"></i>
                    </a><!-- End / social-icon -->
                    
                    
                    <!-- social-icon -->
                    <!-- <a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
                    </a> -->
                    <!-- End / social-icon -->
                    
                </div>
            </div>
        </div>
    </div>
</div>