:root {
  --big-font-size: 3rem;
  --m2-font-size: 2rem;
  --m1-font-size: 1.875rem;
  --ms1-font-size: 1.125rem;
  --body-font-size: 1rem;
  --s1-font-size: 0.875rem;
  --s2-font-size: 0.775rem;

  --base-accent-color: #73fd03;
  --tab-accent-color: #407f02;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
  border-radius: 100px;
}

#header {
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
  background-image: url(images/profile-pic/ikhsan-2.png);
  background-size: auto 550px;
  background-position-x: right 15%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
nav .fa-solid {
  display: none;
}

.logo {
  width: 280px;
  font-size: var(--m2-font-size);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #73fd03;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span,
.header-text h3 span {
  color: #73fd03;
}

/* ------- ABOUT ------- */

#about {
  padding-top: 140px;
  padding-bottom: 80px;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  align-items: center;
}

.about-col-1 img {
  width: 100%;
  border-radius: 20px;
}

.about-col-2 {
  flex-basis: 60%;
}

.about-col-2 p {
  margin-bottom: 20px;
}

.sub-title {
  font-size: 55px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #73fd03;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #7cfc00;
  font-size: 18px;
}

.tab-contents ul li p {
  font-size: 18px;
  margin-top: 5px;
}

.tab-contents ul li p a {
  color: #fff;
  font-size: var(--body-font-size);
  text-decoration: none;
}

.tab-contents ul li .img-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  gap: 10px;
}

.tab-contents ul li .img-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
}

.tab-contents ul li .img-item h4 {
  font-size: 0.775rem;
  font-weight: 300;
  color: #fff;
}

.tab-contents ul li img {
  width: auto;
  height: 60px;
  margin: 5px 5px;
}

.light-img {
  background-color: #fff;
  border-radius: 10px;
  padding: 2px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--tab-accent-color));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 800;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: var(--tab-accent-color);
  font-size: var(--body-font-size);
  text-decoration: none;
  line-height: 40px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--base-accent-color);
  padding:  14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  transition: background 0.5s;
}

.btn:hover {
  background: var(--base-accent-color);
}

/* contact */

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: var(--base-accent-color);
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: var(--m1-font-size);
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
}

.social-icons a:hover {
  color: var(--base-accent-color);
  transform: translateY(-5px);
}

.btn.submit {
  display: inline-block;
}

.contact-right form {
  width: 100%;
}

form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: var(--ms1-font-size);
  border-radius: 6px;
}

form .submit {
  padding: 14px 60px;
  font-size: var(--ms1-font-size);
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
  color: #ababab;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) { 
  #header {
    background-image: url(/public/images/profile-pic/ikhsan-mobile.png);
    background-position: right;
  }
  .header-text {
    margin-top: 110%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px; 
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
    font-weight: 700;
  }

  nav ul {
    background: var(--base-accent-color);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    color: #000;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav .fa-solid {
    cursor: pointer;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  
  nav ul li a {
    color: #000;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1, .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left, .contact-right{
    flex-basis: 100%;
    margin-top: 20px;
  }

}

#status {
  color: #61b752;
  margin-top: -40px;
  display: block;
}

.stack-category {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.layer h2 {
  font-size: var(--body-font-size);
  margin-bottom: 10px;
}

.layer p {
  font-size: var(--body-font-size);
  margin-bottom: 40px;
}

.stack-category span {
  font-weight: 700;
  margin-bottom: 20px;
}

.stack-category .stack-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
  gap: 2px;
  justify-content: center;
}
.stack-category ul li {
  list-style: none;
}

.stack-category ul li .stack-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
}

.stack-category ul li .stack-item h4 {
  font-size: 0.775rem;
  font-weight: 300;
  color: #fff;
}

.stack-category ul li img {
  width: auto;
  height: 60px;
  margin: 5px 5px;
}